div#params_Pluginname
	div(class='form-group')
		label(class='col-lg-2 control-label' for='setting_Pluginname_NameDesParameters') NameDesParameters
		div(class='col-lg-10')
			input(type='text' id='setting_Pluginname_NameDesParameters' value='' class='form-control')
