div#params_Pluginname
	div(class='form-group')
		label(class='col-lg-3 control-label' for='setting_Pluginname_NameDesParameters') NameDesParameters
		div(class='col-lg-8')
			select(class='form-control' id='setting_Pluginname_NameDesParameters' size='1')
				option(value='0') 0
				option(value='1') 1
	div(class='form-group')
		label(class='col-lg-3 control-label' for='setting_Pluginname_NameDesParameters') NameDesParameters
		div(class='col-lg-8')
			input(type='text' id='setting_Pluginname_NameDesParameters' name='setting_Pluginname_NameDesParameters' value='' class='form-control')
